body#home {
	background-color: #000;
	color: #FFF;
}

#info-pane {
	width: 250px;
	float: right;
	border-left: 1px solid #444;
	padding: 20px;
	font-size: 12px;
}

.axis path, .axis line {
	fill: none;
	stroke: #FFF;
	shape-rendering: crispEdges;
}
.grid .tick {
    stroke: #444;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}